.page {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (width >= 1200px) {
    flex-direction: row;
  }
}

.tablero.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;

  div {
    outline: solid 1px black;
  }

  img {
    object-fit: contain;
    width: 200px;
    height: 200px;
  }
}

.piezas-desordanadas {
  img:active, img.active {
    outline: solid 1px cyan;
  }
}
